h1, h2{
    color: crimson;
}
body{
    background-image: url('../IMG/borboleta.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
img{
    height: 70px;
}
section{
    height: 90vh;
}
p{
    text-align: justify;
    line-height: 200%;
}

