.container {
    color: pink;
    border: 1px solid;
    width: 600px;
    height: 600px;
    background-color: azure;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-evenly;

}

.box {
    margin: 5px;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
   
}

.box1 {
    order: -2;
    background-color: rgb(246, 140, 1);
}

.box2 {
    order: 0;
    background-color: brown;
}

.box3 {
    order: 1;
    background-color: aquamarine;
}