.container{
    height: 100vh;
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
        "header header header header"
        "aside main main main"
        "aside main main main"
        "rodolfinnho rodolfino rodolfinho rodolfinho";
}
.box1{
    grid-area: header;
    background-color: bisque;
}
.box2{
    grid-area: aside;
    background-color: burlywood;
}
.box3{
    grid-area: main;
    background-color: beige;
}
.box4{
    grid-area: rodolfinho;
    background-color: antiquewhite;
}
