body {
    background-color: red;
}
p {
    color: blueviolet;
}
.text {
    color: brown;
}
.text2{
    color: brown;
}

@media screen and (max-width: 600px) {
    body {
        background-color: burlywood;
    }
  
    .text {
        color: brown;
        display: block;
    }

    p {
        color: blueviolet;
        display: none;
    }
}

@media screen and (min-width: 601px) and (max-width:1200px){
    body {
        background-color: rgb(116, 75, 22);
    }
    
    p {
        color: blueviolet;
        display: block;
    }

    .text {
        color: brown;
        display: none;
    }
    .text2{
        color: brown;
        display: none;
    }
}

@media screen and (min-width:1201px) {
   body{
    background-color: aquamarine;
   }
   p {
    color: blueviolet;
    display: none;
}

.text {
    color: brown;
    display: none;
}
.text2{
    color: brown;
    display: block;
} 
}